.box {
	width: 30px;
	height: 30px;
	background-color: #AAA;
	float: left;
	/*margin: 1px;*/
}

.row {
	clear: both;
}

#container {
	border: 1px solid #3540a5;
	margin: 20px;
	width: 800px;
	height: 800px;
}
